<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGameService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IGameService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/TestGame.Server/GameService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGameService"
                contract="GameService.IGameService" name="BasicHttpBinding_IGameService" />
            <endpoint address="net.tcp://localhost:9000/MyService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGameService" contract="GameService.IGameService"
                name="NetTcpBinding_IGameService">
                <identity>
                    <userPrincipalName value="ADMIN-PC\User" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>